@import "tailwindcss";
@plugin "daisyui";

.glass{
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(251, 133, 7, 0.77);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
	--bg-secondary: #f0f0f0;
  --fg-secondary: #202020;
	--brand: #ff2222;
	--brand-text: #000000;
	--transparent-bg: rgba(255, 255, 255, 0.6);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
	--color-bg-secondary: var(--bg-secondary);
  --color-fg-secondary: var(--fg-secondary);
	--color-brand: var(--brand);
	--color-brand-text: var(--brand-text);
	--bg-brand: var(--brand);
	--color-transparent-bg: var(--transparent-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #ededed;
		--bg-secondary: #202020;
		--brand-text: #ffffff;
		--fg-secondary: #f0f0f0;
		--transparent-bg: rgba(0, 0, 0, 0.6);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}